.card {
    background-color: gainsboro;
    text-align: left;
}

.card-firsttitle {
    text-align: left;
}

.card-firsttext {
    text-align: left;
}

.firstbutton {
    text-align: left;
}

.all-cards {
    background-color: greenyellow;
    padding: 5px;
    border-radius: 5px;
    border: 4px groove;

}


